*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,#009688 0%,#009688 18%, #d9dbd5 18%, #d9dbd5 100%);
}
#app{
    display: flex;
    width: 85%;
    height: 95%;
}

/* left */
.left{
    width: 40%;
}
/* navbar left */
.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px 20px 10px 10px;
    background-color: #eaeaea;
}
.myicon{
    display: flex;
    align-items: center;
    height: 100%;
}
.myicon img{
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
}
.mybutton{
    font-size: 20px;
    color: #b1b1b1;
}
.myname{
    font-weight: 500;
}
/* notifiche */
.notifiche{
    background-color: #8edafc;
    display: flex;
    align-items: center;
    height: 13%;
}
.fa-bell-slash{
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #8edafc;
    background-color: #f2fbff;
    font-size: 20px;
    border-radius: 50%;
}

a{
    color: grey;
    font-size: 13px;
}
/* barra di ricerca */
.search{
    display: flex;
    width: 100%;
    background-color: #f7f7f7;
}
.search .fa-search{
    width: 15%;
    text-align: center;
    background-color: #ffffff;
    color: #b1b1b1;
    border: 1px solid #eaeaea;
    border-right: none;
}
.search input{
    width: 90%;
    background-color:#ffffff;
    border: 1px solid #eaeaea;
    border-left: none;
}
/* lista di persone */
.people{
    width: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
    height: 64%;
}
.people :hover{
    background-color:lightgray;
}
.people :active{
    background-color: grey;
}
.mymessage{
    display: flex;
    height: 22%;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}
.mymessage img{
    border-radius: 50%;
}
.info{
    margin-left: 10px;
}
.textmessage{
    width: 200px; 
    font-size: 15px;
    color: #b1b1b1;
}

/* right */
.right{
    width: 65%;
}
/* nav bar right */
.nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px 20px 10px 10px;
    background-color: #eaeaea;
    border-left: 1px solid lightgrey;
}
.message{
    width: 100%;
    height: 75%;
    background-image: url(../img/mine.jpg);
    background-size: contain;
    overflow-y: scroll;
}
.message-text{
    position: relative;
    margin: 5px 20px;
    padding: 15px;
    min-width: 40%;
    max-width: 60%;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
}
.message-text.sent{
    background-color: #d5f9ba;
    float: right;
    clear: both;
}
.message-text.received{
    background-color: #ffffff;
    float: left;
    clear: both;
}
/* footer */
.sentmessage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 10px 30px;
    background-color: #e5ddd6;
    opacity: 0.8;
    border-left: 1px solid lightgrey;
}
.sentmessage input{
    height: 100%;
    border-radius: 5px;
    border: 1px solid #eaeaea;
}
.sentmessage i {
    color: #807677;
    font-size: 20px;
}
